body {
    background-color: #9ec1b0;
}

/*Nav*/
.navbar {
    padding: 15px;

}

.navbar-brand {
    font-family: 'Avenir';
    color: #F4F1DE;
    font-size: 170%;
}

.nav-item {
    font-family: 'Avenir';
    font-size: 100%;
}

.nav-link {
    color: black;
}

/**/

h2 {
    margin-top: 150px;
    margin-bottom: 25px;
}


.midd {
    text-align: center;
    margin-bottom: 50px;
}

img {
    float: right;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}



.hide1 {
    display: none;
}

.mag1:hover + .hide1 {
    display: inherit;
    color: red;
}



.card {
    background-color: beige;
}

.btn-link {
    font-family: Avenir;
    color: #393939;
}
