body {
    background-color: #81B29A;
}

/*Nav*/
.navbar {
    padding: 15px;

}

.navbar-brand {
    font-family: 'Avenir';
    color: #F4F1DE;
    font-size: 170%;
}

.nav-item {
    font-family: 'Avenir';
    font-size: 100%;
}

.nav-link {
    color: black;
}

/**/

h2 {
    margin-top: 150px;
    margin-bottom: 25px;
}


.midd {
    text-align: center;
    margin-bottom: 50px;
}

img {
    float: right;
}
